#firstparagraf{
    background-color: red;
}
#apple{
    background-color: green;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
dd{
    background-color: red;
}  